<header id="header" class="fixed-top d-flex align-items-center">
    <div class="container d-flex justify-content-between">
      <div class="logo">
        <a href="#"><img src="assets/img/logofront.png" alt="" class="img-fluid"></a>
      </div>

      <nav id="navbar" class="navbar">
        <ul>
          <li><a class="nav-link scrollto active" href="#hero">Acceuil</a></li>
          <li><a class="nav-link scrollto" href="#about">A propos</a></li>
          <li><a class="nav-link scrollto" href="/login">Se Connecter</a></li>
        </ul>
      </nav>
    </div>
</header>
<section id="hero" class="clearfix">
    <div class="container" data-aos="fade-up">

      <div class="hero-img" data-aos="zoom-out" data-aos-delay="200">
        <img src="assets/img/hero-img.svg" alt="" class="img-fluid">
      </div>
       
      <div class="hero-info" data-aos="zoom-in" data-aos-delay="100">
        <h2>Nous vous donnons<br><span>une flexibilité</span><br> pour gérer votre université!</h2>
      </div>

    </div>
  </section>
  <main >

    <!-- ======= About Section ======= -->
    <section id="about">
      <div class="container" data-aos="fade-up">

        <header class="section-header">
          <h3>A propos</h3>
          <p>Bienvenue sur l'application de gestion universitaire.</p>
        </header>
        <div class="row about-container">

          <div class="col-lg-6 content order-lg-1 order-2">
            <p>
              Cette application fournit une solution complète permettant aux administrateurs universitaires de gérer efficacement toutes les ressources de l'écosystème universitaire.            </p>

            <div class="icon-box" data-aos="fade-up" data-aos-delay="100">
              <div class="icon"><i class="bi bi-card-checklist"></i></div>
              <h4 class="title"><a href="">L'administrateur peut gérer tout le système de l'université.</a></h4>
              <p class="description"></p>
            </div>

            <div class="icon-box" data-aos="fade-up" data-aos-delay="200">
              <div class="icon"><i class="bi bi-brightness-high"></i></div>
              <h4 class="title"><a href="">Une interface simple et claire</a></h4>
              <p class="description"></p>
            </div>

            <div class="icon-box" data-aos="fade-up" data-aos-delay="300">
              <div class="icon"><i class="bi bi-calendar4-week"></i></div>
              <h4 class="title"><a href="">L'étudiant peut gérer ses réservations</a></h4>
              <p class="description"></p>
            </div>

          </div>

          <div class="col-lg-6 background order-lg-2" data-aos="zoom-in">
            <img src="assets/img/about-img.svg" class="img-fluid" alt="">
          </div>
        </div>
      </div>
    </section><!-- End About Section -->
</main><!-- End #main -->
 <!-- ======= Footer ======= -->
 <footer id="footer">
  <div class="footer-top">
    <div class="container">
      <div class="row">

        <div class="col-lg-4 col-md-6 footer-info">
          <h3>MY University</h3>
          <p>Cette application fournit une solution complète permettant aux administrateurs universitaires de gérer efficacement toutes les ressources de l'écosystème universitaire.</p>
        </div>

        <div class="col-lg-2 col-md-6 footer-links">
          <h4>Useful Links</h4>
          <ul>
            <li><a href="#header">Acceuil</a></li>
            <li><a href="#about">A propos </a></li>
            <li><a href="#">Conditions d'utilisation</a></li>
            <li><a href="#">Politique de confidentialité</a></li>
          </ul>
        </div>

        <div class="col-lg-3 col-md-6 footer-contact">
          <h4>Contactez-nous</h4>
          <p>
            lot 13, V5XR+M37 Résidence Essalem II,  <br>
            Av. Fethi Zouhir,<br>
            Cebalat Ben Ammar 2083 <br>
            <strong>Telephone:</strong> +1 5589 55488 55<br>
            <strong>Email:</strong> Myuniversity@esprit.tn<br>
          </p>

          <div class="social-links">
            <a href="#" class="twitter"><i class="bi bi-twitter"></i></a>
            <a href="#" class="facebook"><i class="bi bi-facebook"></i></a>
            <a href="#" class="instagram"><i class="bi bi-instagram"></i></a>
            <a href="#" class="instagram"><i class="bi bi-instagram"></i></a>
            <a href="#" class="linkedin"><i class="bi bi-linkedin"></i></a>
          </div>

        </div>

      </div>
    </div>
  </div>

  <div class="container">
    <div class="copyright">
      &copy; Copyright <strong>My University</strong>. Tous droits réservés
    </div>
    <div class="credits">
      Conçu par <a href="#">My University</a>
    </div>
  </div>
</footer><!-- End Footer -->