<header id="header" class="fixed-top d-flex align-items-center">
    <div class="container d-flex justify-content-between">
      <div class="logo">
        <a href="#"><img src="assets/img/logofront.png" alt="" class="img-fluid"></a>
      </div>

      <nav id="navbar" class="navbar">
        <ul>
          <li><a class="nav-link scrollto active" href="#">Acceuil</a></li>
          <li><a class="nav-link scrollto" href="#t">Profile</a></li>
          <li><a class="nav-link scrollto" href="#t">Mes reservations</a></li>
          <li><a class="nav-link scrollto" href="#">Se Deconnecter</a></li>
        </ul>
      </nav>
    </div>
</header>