<app-header-back></app-header-back>
<app-menuadmin></app-menuadmin>
<main id="main" class="main">
    <table class="table">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">First</th>
            <th scope="col">Last</th>
            <th scope="col">Handle</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">1</th>
            <td>Mark</td>
            <td>Otto</td>
            <td>@mdo</td>
          </tr>
          <tr>
            <th scope="row">2</th>
            <td>Jacob</td>
            <td>Thornton</td>
            <td>@fat</td>
          </tr>
          <tr>
            <th scope="row">3</th>
            <td>Larry</td>
            <td>the Bird</td>
            <td>@twitter</td>
          </tr>
        </tbody>
      </table>
      <a href="/ajout">
        <button class="btn btn-success"><span>ajouter</span></button> 
       </a>
      <a href="/modif">
        <button class="btn btn-primary"><span>modifier</span></button> 
       </a>
</main>
<app-footer-back></app-footer-back>