<footer id="footer">
    <div class="footer-top">
      <div class="container">
        <div class="row">
  
          <div class="col-lg-4 col-md-6 footer-info">
            <h3>MY University</h3>
            <p>Cette application fournit une solution complète permettant aux administrateurs universitaires de gérer efficacement toutes les ressources de l'écosystème universitaire.</p>
          </div>
  
          <div class="col-lg-2 col-md-6 footer-links">
            <h4>Useful Links</h4>
            <ul>
              <li><a href="#header">Acceuil</a></li>
              <li><a href="#about">A propos </a></li>
              <li><a href="#">Conditions d'utilisation</a></li>
              <li><a href="#">Politique de confidentialité</a></li>
            </ul>
          </div>
  
          <div class="col-lg-3 col-md-6 footer-contact">
            <h4>Contactez-nous</h4>
            <p>
              lot 13, V5XR+M37 Résidence Essalem II,  <br>
              Av. Fethi Zouhir,<br>
              Cebalat Ben Ammar 2083 <br>
              <strong>Telephone:</strong> +1 5589 55488 55<br>
              <strong>Email:</strong> Myuniversity@esprit.tn<br>
            </p>
  
            <div class="social-links">
              <a href="#" class="twitter"><i class="bi bi-twitter"></i></a>
              <a href="#" class="facebook"><i class="bi bi-facebook"></i></a>
              <a href="#" class="instagram"><i class="bi bi-instagram"></i></a>
              <a href="#" class="instagram"><i class="bi bi-instagram"></i></a>
              <a href="#" class="linkedin"><i class="bi bi-linkedin"></i></a>
            </div>
  
          </div>
  
        </div>
      </div>
    </div>
  
    <div class="container">
      <div class="copyright">
        &copy; Copyright <strong>My University</strong>. Tous droits réservés
      </div>
      <div class="credits">
        Conçu par <a href="#">My University</a>
      </div>
    </div>
  </footer><!-- End Footer -->
